<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987762083032-eqsh7a7ddu2n0b0c5ins3udm7kil74hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987762083032-eqsh7a7ddu2n0b0c5ins3udm7kil74hm</string>
	<key>API_KEY</key>
	<string>AIzaSyDBnz6f0tq1hXFmzxjYKeOPWp5f477ivJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>987762083032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heyitsjai.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-b7e64</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-b7e64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987762083032:ios:a80f7c6eb4b06743ca83ad</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-b7e64.firebaseio.com</string>
</dict>
</plist>